@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sansation';
  src: url('/Sansation_Bold.ttf');
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  background: #000;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #1a1a1a;
  border-radius: 10px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255);
  background: #000000
}

body {
  width: 100%;
  min-height: 100vh;
}

html {
  overflow-x: hidden;
}

.webkitBlurIos250 {
  -webkit-filter: blur(250px);
  filter: blur(250px);
}

.webkitBgBlurIos16 {
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}
